.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: black !important;
}

.search_container {
    align-items: center;
    display: flex;
}

.search_container button {
    border: none;
    background: whitesmoke;
    color: grey;
}

#search_icon {
    margin-right: 1rem;
    font-size: 20px;
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
    width: 25vw !important;
}

.checkbox {
    display: flex;
    justify-content: space-between;
}

.button_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 6%;
    margin-top: 1rem;
}